<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>天天生鲜-搜索结果</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
{{ template "common/header.html" .userName }}

{{ template "common/search_bar.html"}}

{{ template "common/navbar_con.html" .goodsTypes}}

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
                {{ range .newGoodsSKUs }}
                    <li>
                        <a href="/goods-detail?id={{ .Id }}"><img src="http://192.168.181.130:8888/{{  .Image }}"></a>
                        <h4><a href="/goods-detail?id={{ .Id }}">{{ .Name }}</a></h4>
                        <div class="prize">￥{{ .Price }}</div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix">
        <ul class="goods_type_list clearfix">
            {{ range .goodsSKUs }}
                <li>
                    <a href="/goods-detail?id={{ .Id }}"><img src="http://192.168.181.130:8888/{{ .Image }}"></a>
                    <h4><a href="/goods-detail?id={{ .Id }}">{{ .Name }}</a></h4>
                    <div class="operate">
                        <span class="prize">￥{{ .Price }}</span>
                        <span class="unit">{{ .Price }}/{{ .Unite }}</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
            {{ end }}
        </ul>

    </div>
</div>

{{ template "common/footer.html"}}

</body>
</html>