<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到鲜淘驿站!</div>
        <div class="fr">
            {{ if compare . "" }}
                <div class="login_btn fl">
                    <a href="/login">登录</a>
                    <span>|</span>
                    <a href="/register">注册</a>
                </div>
            {{ else }}
                <div class="login_btn fl">
                    欢迎您：<em>{{ . }}</em>
                    <span>|</span>
                    <a href="/u/logout">退出</a>
                </div>
            {{ end }}

            <div class="user_link fl">
                <span>|</span>
                <a href="/u/user-info">用户中心</a>
                <span>|</span>
                <a href="/u/cart/">我的购物车</a>
                <span>|</span>
                <a href="/u/user-order">我的订单</a>
            </div>
        </div>
    </div>
</div>